{
	servers {
		protocol {
			allow_h2c
		}
	}
}

{$DOMAIN_HOSTNAME:localhost} {
	tls {
		issuer acme {
			disable_tlsalpn_challenge
		}
	}
}

http://:4433 {
	encode gzip
	route {
		reverse_proxy {$DOH_PATH:/dns-query}* http://doh:8053

		redir /config /config/

		route /config/* {
			basicauth bcrypt {
				{$USERNAME} {$PASSWD_BCRYPTED}
			}

			@clashrequests {
				file {
					try_policy first_exist
					root /var/www/{$DOMAIN_HOSTNAME:localhost}
				}
				header_regexp ua User-Agent "(?i)^clash.+"
			}

			header @clashrequests {
				Content-Disposition "filename={$FILENAME:Config}"
				Content-Type application/x-yaml
				Profile-Update-Interval 12
				Subscription-Userinfo "expire={$EXPIRE:2274253409}"
			}

			file_server {
				root /var/www/{$DOMAIN_HOSTNAME:localhost}
				browse
			}
		}

		respond "Shop opening hours: Morndas to Fredas 8 am - 5 pm"
	}

	log {
		output stdout
		format filter {
			wrap json
			fields {
				request>headers>Authorization delete

				common_log delete -- delete ip address
				request>remote_addr ip_mask {
					ipv4 24
					ipv6 32
				}
			}
		}
	}

	handle_errors {
		respond "{http.error.status_code} {http.error.status_text}"
	}
}

http://127.0.0.1:8081 {
	respond /health-check 200
}
